[submodule "dxil-spirv-sys/dxil-spirv"]
	path = dxil-spirv-sys/dxil-spirv
	url = https://github.com/HansKristian-Work/dxil-spirv.git
[submodule "references/dxil-spirv"]
	path = references/dxil-spirv
	url = https://github.com/HansKristian-Work/dxil-spirv.git
[submodule "references/spirv_cross"]
	path = references/spirv_cross
	url = https://github.com/grovesNL/spirv_cross.git
